*{
    margin: 0;
    padding: 0;
}
main {
    height: 100vh;
    display: grid;
    place-items: center;
}
section{
    background-color: #fff;
    display: inline-block;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}